<section class="frontCoverSection">
    <section class="navBarSection">
       <div class="navBarLogoTitleSection">
          <i class="fas fa-magic designatedDesignerLogo"></i>
          <h1 class="designatedDesignerTitle">Designated Designer</h1>
       </div>
       <% if user_signed_in? %>
       <div>
           <p class="frontCoverUserDetails">Logged in as: <%= current_user.username %> | Account ID: <%= current_user.id %></p>
       </div>
       <% end %>
        <div class="navBarLinksSection">
              <% if user_signed_in? %>
                  <%= link_to "New Job", '/clients', method: 'post', class: "navLinkButtons" %>
                  <%= link_to 'View Jobs', designers_path, method: 'post', class: "navLinkButtons" %>
                  <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "navLinkButtons" %>
              <% else %>
                  <%= link_to "Register", new_user_registration_path, class: "navLinkButtons" %>
              <% end %>
       </div>
    </section>
    <% if user_signed_in? %>
       <section class="frontCoverUserControls">
            <div>
                <%= button_to "New Job", '/clients', method: 'post', class: "userControls" %>
            </div>
            <div>
                <%= button_to 'View Jobs', designers_path, method: 'post', class: "userControls" %>
            </div>
       </section>
    <% else %>
       <section class="frontCoverFormSection">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="formInputFieldContainer">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Your Email Here", class: "formInputField" %>
            </div>
            <div class="formInputFieldContainer">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Your Password Here", class: "formInputField" %>
            </div>
            <div class="formInputFieldRememberContainer">
                <% if devise_mapping.rememberable? %>
                    <div class="coverFormCheckboxSection">
                        <%= f.check_box :remember_me, class: "rememberMeCheckbox", id: "testID"%>
                        <%= f.label :remember_me, class: "rememberMeLabel" %>
                    </div>    
                <% end %>
                    <div class="coverFormLoginButtonSection">
                        <%= f.submit "Log in", class: "coverFormLoginButton" %>
                    </div>
            </div>
          <% end %>
      </section>
    <% end %>
</section>
<section class="homePageBodySeparatorOne">

</section>






