<section class="frontCoverSection">
    <section class="navBarSection">
       <div class="navBarLogoTitleSection">
          <i class="fas fa-magic designatedDesignerLogo"></i>
          <h1 class="designatedDesignerTitle">Designated Designer</h1>
       </div>
       <% if user_signed_in? %>
       <div>
           <p class="frontCoverUserDetails">Logged in as: <%= current_user.username %> | Account ID: <%= current_user.id %></p>
       </div>
       <% end %>
        <div class="navBarLinksSection">
              <% if user_signed_in? %>
                  <%= link_to "New Job", '/clients', method: 'post', class: "navLinkButtons" %>
                  <%= link_to 'View Jobs', designers_path, method: 'post', class: "navLinkButtons" %>
                  <%= link_to "Logout", destroy_user_session_path, method: "delete", class: "navLinkButtons" %>
              <% else %>
                  <%= link_to "back", home_path, class: "navLinkButtons" %>
              <% end %>
       </div>
    </section>
        <section class="userRegistrationFormSection">
            <%= form_with model: @project, local: true do | form | %>
                <div class="userRegistrationFieldContainer">
                    <%= form.text_field :title, placeholder: "Name of Project Here", class: "userRegistrationInputField" %>
                </div>
                <div class="userRegistrationFieldContainer">
                    <%= form.text_field :description, placeholder: "Enter Project Description Here", class: "userRegistrationInputField" %>
                </div>
                <div class="newProjectUploadImageContainer">
                    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %>
                    <%= form.submit "Save", class: "uploadImageButton" %>
                </div>
            <% end %>
        </section>
    </section>
</section>

<section class="homePageBodySeparatorOne">

</section>

<footer class="indexMainFooter">
    <img src="../aBuiDev_grey.svg" width="50px;">
    <p class="indexMainFooterText">Created by aBuiDev | 2020</p>
</footer>



