<%= render "shared/navbar" %>

<section class="projectInformationContainer">
    <h1 class="projectTitle"><%= @project[:title] %><h1>
    <div class="projectInformationElementSection">
        <p class="projectInformationElement">Project Created By: <%= @project.client.user[:username] %></p>
        <p class="projectInformationElement">|</p>
        <p class="projectInformationElement">Project ID: <%= @project.id %></p>
    </div>
</section>

<%# Project Viewport Section %>
<section class="projectImageViewportSection">
        <section class="projectImageViewport" style="background-image: url(<%= rails_blob_path(@project.picture, disposition: "attachment", only_path: true) %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
    </section>
    <%# Join, Remove Designer or Quit Project Button %>
    <section class="projectButtonSection">
        <% if @project.designer_id.nil? && @project.client.id != current_user.client.id %>
            <%= form_with model: @project, local: true do | form | %>
                <%= form.submit "Join Project", class: "projectButtonJoin" %>
            <% end %>
        <% else %>
            <% if @project.designer_id == current_user.designer.id || @project.client.id == current_user.client.id %>
                <% if @project.designer_id == current_user.designer.id %>
                    <%= link_to 'Quit Project', remove_designer_path, method: 'put', class: "projectButtonQuit" %>
                <% else %>
                    <% if @project.designer_id.nil? %>
                        <p style="display: none"></p>
                    <% else %>
                        <%= link_to 'Drop Designer', remove_designer_path, method: 'put', class: "projectButtonQuit" %>
                    <% end %>
                <% end %>
            <% else %>
                <p style="display: none"></p>
            <% end %>
        <% end %>
    </section>
</section>

<%# Project Design Brief Section %>
<section class="projectBriefSection">
    <p class="projectBriefSectionTitle">Project Design Brief</p>
    <div class="projectBriefSectionContentContainer">
        <p class="projectBriefContent"><%= @project[:description] %></p>
    </div>
</section>





<%# HUD Interface %>


<% if @project.designer_id == current_user.designer.id && @project.client.id != current_user.client.id %>
<section class="hudSection">
    <section class="InterfaceSection">
        <div class="projectStatusInterfaceOwnerContainer">
            <p class="projectStatusInterfaceDesignerTile"><%= @project.designer.user.username %>'s' Designer HUD<p>
        </div>
        
        <%# Project Statuses Output %>
        <%= render "shared/project_statuses" %>

        <%# Designer Controls %>
        <section class="projectStatusesControllersSection">
            <div class="projectStatusesControllerTitleContainer">
                <h1 class="interfaceHeadings">Designer Controls:</h1>
            </div>
            <div class="projectStatusesControllerContainer">
                <%= form_with model: @project, local: true do | form | %>
                    <div class="projectStatusDropDownSelectorElement">
                        <div class="projectStatusDropDown">
                            <%= form.select :designer_status, [ "Planning", "Awaiting Draft Approval", "Design Complete" ], placeholder: "Select Status from Dropdown" %>
                        </div>
                        <div>
                            <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                        </div>
                    </div>
                <% end %>  
            </div>
        </section> 
    </section>
</section>

<% elsif @project.client_id == current_user.client.id %>
<section class="hudSection">
    <section class="interfaceSection">
        <div class="projectStatusInterfaceOwnerContainer">
            <p class="projectStatusInterfaceDesignerTile"><%= @project.client.user.username %>'s' Client HUD<p>
        </div>

        <%# Project Statuses Output %>
        <%= render "shared/project_statuses" %>

        <%# Project Statuses Controller %>
        <section class="projectStatusesControllersSection">
            <div class="projectStatusesControllerTitleContainer">
                <h1 class="interfaceHeadings">Client Controls:</h1>
            </div>
            <div class="projectStatusesControllerContainer">
                <%= form_with model: @project, local: true do | form | %>
                    <div class="projectStatusDropDownSelectorElement">
                        <div class="projectStatusDropDown">
                            <%= form.select :payment_status, [ "Pending Payment", "Payment Complete" ] %>
                        </div>
                        <div>
                            <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                        </div>
                    </div>
                <% end %>  
                <%= form_with model: @project, local: true do | form | %>
                    <div class="projectStatusDropDownSelectorElement">
                        <div class="projectStatusDropDown">
                            <%= form.select :client_status, [ "Reviewing Draft", "Reviewing Final Design", "Design Approved" ] %>
                        </div>
                        <div>
                            <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                        </div>
                    </div>
                <% end %>
                <%= form_with model: @project, local: true do | form | %>
                    <div class="projectStatusDropDownSelectorElement">
                        <div class="projectStatusDropDown">
                            <%= form.select :project_status, [ "Draft", "With Designer", "Pending Approval", "Project Complete" ] %>
                        </div>
                        <div>
                            <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </section>
    </section>
</section>
<% elsif @project.designer_id == @project.client_id %>
    <p style="display: none"></p>
<% elsif @project.designer_id.nil? %>
    <p style="display: none"></p>
<% elsif @project.client_id.nil? %>
    <p style="display: none"></p>
<% end %>


<% if @project.designer_id == current_user.designer.id && @project.client.id != current_user.client.id %>
<%# Client Chat Mechanism %>
<section class="chatInterfaceSection">
    <section class="chatInterfaceContainer">
        <div class="chatInterfaceTitleContainer">
            <h1 class="chatInterfaceHeading">Chat Interface:</h1>
        </div>
        <% @project.chatbox.messages.each do | message | %>
            <div class="clientMessageContainer">
                <p class="messageSentBy"><%= message[:from] %>:</p>
                <p class="messageBox"><%= message[:message_content] %></p>
            </div>
        <% end %>

        <%= form_with url: message_create_designer_path, local: true do | form | %>
            <section class="messageInputSection">
                <div class="messageInputContainer">
                    <div class="messageInputElement">
                        <%= form.text_area :message_content, placeholder: "Type your message here...", class: "messageInputTextArea"  %>
                    </div>
                    <%= form.submit "Send", class: "messageSubmitButton" %>
                </div>
            </section>
        <% end %>
    </section>
</section>
<% elsif @project.client_id == current_user.client.id %>
<%# Designer Chat Mechanism %>
<section class="chatInterfaceSection">
    <section class="chatInterfaceContainer">
        <div class="chatInterfaceTitleContainer">
            <h1 class="chatInterfaceHeading">Chat Interface:</h1>
        </div>
        <% @project.chatbox.messages.each do | message | %>
            <div class="designerMessageContainer">
                <p class="messageSentBy"><%= message[:from] %>:</p>
                <p class="messageBox"><%= message[:message_content] %></p>
            </div>
        <% end %>

        <%= form_with url: message_create_client_path, local: true do | form | %>
            <section class="messageInputSection">
                <div class="messageInputContainer">
                    <div class="messageInputElement">
                        <%= form.text_area :message_content, placeholder: "Type your message here...", class: "messageInputTextArea"  %>
                    </div>
                    <%= form.submit "Send", class: "messageSubmitButton" %>
                </div>
            </section>
        <% end %>
    </section>
</section>
<% elsif @project.designer_id == @project.client_id %>
    <p style="display: none"></p>
<% elsif @project.designer_id.nil? %>
    <p style="display: none"></p>
<% elsif @project.client_id.nil? %>
    <p style="display: none"></p>
<% end %>







