<%= render "shared/navbar" %>

<section class="projectInformationContainer">
    <h1 class="projectTitle"><%= @project[:title] %><h1>
    <div class="projectInformationElementSection">
        <p class="projectInformationElement">Project Created By: <%= @project.client.user[:username] %></p>
        <p class="projectInformationElement">|</p>
        <p class="projectInformationElement">Project ID: <%= @project.id %></p>
    </div>
</section>

<section class="projectImageViewportSection">
    <p class="viewportTag">Viewport:</p>
    <div class="projectImageViewport" style="background-image: url(<%= rails_blob_path(@project.picture, disposition: "attachment", only_path: true) %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
    </div>
</section>




<p>Project Design Brief:</p>
<p><%= @project[:description] %></p>









<%# Designer HUD %>

<% if @project.designer_id.nil? %>
    <%= form_with model: @project, local: true do | form | %>
        <%= form.submit "Join Project" %>
    <% end %>
<% else %>
    <p style="display: none"></p>
<% end %>



<% if @project.designer_id == current_user.designer.id %>
    <hr>
    <p><%= @project.designer.user.username %>'s' Designer HUD<p>
    <hr>
    <h1>Project Status Interface:</h1>
    <hr>
    <%= render "shared/project_statuses" %>
    <hr>
    <h1>Chat Interface:</h1>
    <hr>
    <% @project.chatbox.messages.each do | message | %>
        <h1><%= message[:from] %></h1>
        <h1><%= message[:message_content] %> <%= message[:datetime] %></h1>
    <% end %>
    <hr>
    <h1>Designer Controls</h1>
    <%= form_with model: @project, local: true do | form | %>
        <%= form.label "Designer Status:" %>
        <%= form.select :designer_status, [ "Planning", "Awaiting Draft Approval", "Design Complete" ] %>
        <%= form.submit "Update" %>
    <% end %>
    <hr>
    <h1>Designer Chat</h1>
    <%= form_with url: message_create_designer_path, local: true do | form | %>
        <%= form.label "Message:" %>
        <%= form.text_field :message_content %>
        <%= form.submit "Send" %>
    <% end %>
<% elsif @project.client_id == current_user.client.id %>
    <hr>
    <p><%= @project.client.user.username %>'s' Client HUD<p>
    <hr>
    <h1>Project Status Interface:</h1>
    <hr>
    <%= render "shared/project_statuses" %>
    <hr>
    <h1>Chat Interface:</h1>
    <hr>
    <% @project.chatbox.messages.each do | message | %>
        <h1><%= message[:from] %></h1>
        <h1><%= message[:message_content] %> <%= message[:datetime] %></h1>
    <% end %>
    <hr>
    <h1>Client Controls:</h1>
    <hr>
    <%= form_with model: @project, local: true do | form | %>
        <%= form.label "Client Status:" %>
        <%= form.select :client_status, [ "Reviewing Draft", "Reviewing Final Design", "Design Approved" ] %>
        <%= form.submit "Update" %>
    <% end %>
    <%= form_with model: @project, local: true do | form | %>
        <%= form.label "Project Status:" %>
        <%= form.select :project_status, [ "Draft", "With Designer", "Pending Approval", "Project Complete" ] %>
        <%= form.submit "Update" %>
    <% end %>
    <%= form_with model: @project, local: true do | form | %>
        <%= form.label "Payment Status:" %>
        <%= form.select :payment_status, [ "Pending Payment", "Payment Complete" ] %>
        <%= form.submit "Update" %>
    <% end %>  
    <hr>
    <h1>Client Chat Input:</h1>
    <%= form_with url: message_create_client_path, local: true do | form | %>
        <%= form.label "Message:" %>
        <%= form.text_field :message_content %>
        <%= form.submit "Send" %>
    <% end %>
<% elsif @project.designer_id.nil? %>
    <p style="display: none"></p>
<% elsif @project.client_id.nil? %>
    <p style="display: none"></p>
<% end %>

<hr>

<%= link_to 'Remove Designer', remove_designer_path, method: 'put' %>

<hr>












