<%= render "shared/navbar" %>

<%= image_tag @project.picture if @project.picture.attached? %>

<% if current_user.client.id == @project.client_id %>

    <h1><%= @project[:title] %></h1>
    <p>Project ID: <%= @project.id %></p>

    <p>Project Created By: <%= @project.client.user[:username] %> <br></p>
    <p><%= @project.client.user[:username] %> ID: <%= @project.client_id %> </p>

    <p>Project Description:</p>
    <p><%= @project[:description] %></p>

    <p>Payment Status:</p>
    <p><%= @project[:payment_status] %></p>

    <p>Designer Status:</p>
    <p><%= @project[:designer_status] %></p>

    <p>Client Status:</p>
    <p><%= @project[:client_status] %></p>

    <p>Project Status:</p>
    <p><%= @project[:project_status] %></p>

    <p>Your Client ID: <%= current_user.client.id %></p>
    <p>Your Account ID: <%= current_user.id %></p>
    <p>Your Username: <%= current_user[:username] %></p>

    <% if @project.designer_id.nil? %> 
        <p> No Designer Associated With Job </p>
    <% elsif @project.designer_id == current_user.designer.id %>
        <p> Designer Details, ID: <%= @project.designer_id %></p>
        <%= form_with model: @project, local: true do | form | %>
            <%= form.label "Designer Status:" %>
            <%= form.select :designer_status, [ "Planning", "Awaiting Draft Approval", "Design Complete" ] %>
            <%= form.submit "Update" %>
        <% end %>

        <%= form_with model: @project, local: true do | form | %>
            <%= form.label "Client Status:" %>
            <%= form.select :client_status, [ "Reviewing Draft", "Reviewing Final Design", "Design Approved" ] %>
            <%= form.submit "Update" %>
        <% end %>

        <%= form_with model: @project, local: true do | form | %>
            <%= form.label "Project Status:" %>
            <%= form.select :project_status, [ "Draft", "With Designer", "Pending Approval", "Project Complete" ] %>
            <%= form.submit "Update" %>
        <% end %>

        <%= form_with model: @project, local: true do | form | %>
            <%= form.label "Payment Status:" %>
            <%= form.select :payment_status, [ "Pending Payment", "Payment Complete" ] %>
            <%= form.submit "Update" %>
        <% end %>
    <% else %>
        
    <% end %>



    <% else %>

    <p>Not Your Project to View</p>

<% end %>

<% if @project.designer_id.nil? %>
    <%= link_to 'Accept Job', designers_path, method: 'post' %>
<% else %>
    <p style="display: none"></p>
<% end %>


<%= form_with model: @project, local: true do | form | %>
    <%= form.submit "Confirm" %>
<% end %>


<% if current_user.client.id == @project.client_id %>
    <%= link_to 'Remove Designer', remove_designer_path, method: 'put' %>
<% else %>
    <p style="display: none"></p>
<% end %>







