<%= render "shared/navbar" %>

<section class="projectInformationContainer">
    <h1 class="projectTitle"><%= @project[:title] %><h1>
    <div class="projectInformationElementSection">
        <p class="projectInformationElement">Project Created By: <%= @project.client.user[:username] %></p>
        <p class="projectInformationElement">|</p>
        <p class="projectInformationElement">Project ID: <%= @project.id %></p>
    </div>
</section>

<%# Project Viewport Section %>
<section class="projectImageViewportSection">
        <section class="projectImageViewport" style="background-image: url(<%= rails_blob_path(@project.picture, disposition: "attachment", only_path: true) %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
    </section>
    <section class="projectShowJoinButtonSectionSeparator">
        <% if @project.designer_id.nil? && @project.client.id != current_user.client.id %>
            <%= form_with model: @project, local: true do | form | %>
                <%= form.submit "Join Project", class: "projectShowJoinButtonSectionButton" %>
            <% end %>
        <% else %>
            <p style="display: none"></p>
        <% end %>
    </section>
</section>

<%# Project Design Brief Section %>
<section class="projectBriefSection">
    <p class="projectBriefSectionTitle">Project Design Brief</p>
    <div class="projectBriefSectionContentContainer">
        <p class="projectBriefContent"><%= @project[:description] %></p>
    </div>
</section>





<%# HUD Interface %>

<section class="hudSection">
    <section class="InterfaceSection">
        <% if @project.designer_id == current_user.designer.id && @project.client.id != current_user.client.id %>
  
        <div class="projectStatusInterfaceOwnerContainer">
            <p class="projectStatusInterfaceDesignerTile"><%= @project.designer.user.username %>'s' Designer HUD<p>
        </div>
        
        <%# Project Statuses Output %>
        <%= render "shared/project_statuses" %>

        <section class="projectStatusesContainer">
                <%= form_with model: @project, local: true do | form | %>
                    <div class="projectStatusDropDownSelectorElement">
                        <%= form.select :designer_status, [ "Planning", "Awaiting Draft Approval", "Design Complete" ], placeholder: "Select Status from Dropdown", class: "formInputField" %>
                        </div>
                        <%= form.submit "Update", class: "coverFormLoginButton" %>
                    </div>
                <% end %>      
        </section>

        <h1 class="interfaceHeadings">Chat Interface:</h1>

            <% @project.chatbox.messages.each do | message | %>
                <div class="messageBox">
                    <p class="messageBoxUserName"><%= message[:from] %></p><p><%= message[:message_content] %></p>
                </div>
            <% end %>

        <h1>Designer Messaging Interface</h1>

        <%= form_with url: message_create_designer_path, local: true do | form | %>
            <%= form.label "Message:" %>
            <%= form.text_field :message_content %>
            <%= form.submit "Send" %>
        <% end %>
        
    </section>

    <section class="clientInterfaceSection">
        <% elsif @project.client_id == current_user.client.id %>

            <div class="projectStatusInterfaceOwnerContainer">
                <p class="projectStatusInterfaceDesignerTile"><%= @project.client.user.username %>'s' Client HUD<p>
            </div>

            <%# Project Statuses Output %>
            <%= render "shared/project_statuses" %>

            <%# Project Statuses Controller %>
            <section class="projectStatusesControllersSection">
                <div class="projectStatusesControllerTitleContainer">
                    <h1 class="interfaceHeadings">Client Controls:</h1>
                </div>
                <div class="projectStatusesControllerContainer">
                    <%= form_with model: @project, local: true do | form | %>
                        <div class="projectStatusDropDownSelectorElement">
                            <div class="projectStatusDropDown">
                                <%= form.select :payment_status, [ "Pending Payment", "Payment Complete" ] %>
                            </div>
                            <div>
                                <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                            </div>
                        </div>
                    <% end %>  
                    <%= form_with model: @project, local: true do | form | %>
                        <div class="projectStatusDropDownSelectorElement">
                            <div class="projectStatusDropDown">
                                <%= form.select :client_status, [ "Reviewing Draft", "Reviewing Final Design", "Design Approved" ] %>
                            </div>
                            <div>
                                <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                            </div>
                        </div>
                    <% end %>
                    <%= form_with model: @project, local: true do | form | %>
                        <div class="projectStatusDropDownSelectorElement">
                            <div class="projectStatusDropDown">
                                <%= form.select :project_status, [ "Draft", "With Designer", "Pending Approval", "Project Complete" ] %>
                            </div>
                            <div>
                                <%= form.submit "Update", class: "projectStatusesSubmitButton" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </section>

            <h1 class="interfaceHeadings">Chat Interface:</h1>
            
            <% @project.chatbox.messages.each do | message | %>
                <div class="messageBox">
                    <p class="messageBoxUserName"><%= message[:from] %></p><p><%= message[:message_content] %></p>
                </div>
            <% end %>

            <h1 class="interfaceHeadings">Client Chat Input:</h1>

            <%= form_with url: message_create_client_path, local: true do | form | %>
                <%= form.label "Message:" %>
                <%= form.text_field :message_content %>
                <%= form.submit "Send" %>
            <% end %>

            </section>

        <% elsif @project.designer_id == @project.client_id %>
            <p style="display: none"></p>
        <% elsif @project.designer_id.nil? %>
            <p style="display: none"></p>
        <% elsif @project.client_id.nil? %>
            <p style="display: none"></p>
        <% end %>
    </section>

    <%# Remove Designer Button %>

    <% if @project.designer_id == current_user.designer.id || @project.client.id == current_user.client.id %>
        <% if @project.designer_id == current_user.designer.id %>
            <%= link_to 'Quit Project', remove_designer_path, method: 'put' %>
        <% else %>
            <% if @project.designer_id.nil? %>
                <p style="display: none"></p>
            <% else %>
                <%= link_to 'Drop Designer', remove_designer_path, method: 'put' %>
            <% end %>
        <% end %>
    <% else %>
        <p style="display: none"></p>
    <% end %>









