<%= render "shared/navbar" %>

<section class="projectInformationContainer">
    <h1 class="projectTitle"><%= @project[:title] %><h1>
    <div class="projectInformationElementSection">
        <p class="projectInformationElement">Project Created By: <%= @project.client.user[:username] %></p>
        <p class="projectInformationElement">|</p>
        <p class="projectInformationElement">Project ID: <%= @project.id %></p>
    </div>
</section>

<section class="projectImageViewportSection">
    <div class="projectImageViewport" style="background-image: url(<%= rails_blob_path(@project.picture, disposition: "attachment", only_path: true) %>); background-position: center; background-repeat: no-repeat; background-size: cover;">
    </div>
</section>

<section class="projectBriefSection">
    <p class="projectBriefSectionTitle">Project Design Brief</p>
    <div class="projectBriefSectionContentContainer">
        <p class="projectBriefContent"><%= @project[:description] %></p>
    </div>
</section>



<%# Join Project Button %>

<% if @project.designer_id.nil? && @project.client.id != current_user.client.id %>
    <%= form_with model: @project, local: true do | form | %>
        <%= form.submit "Join Project" %>
    <% end %>
<% else %>
    <p style="display: none"></p>
<% end %>



<%# HUD Interface %>

<section class="HUDSection">
    <section class="InterfaceSection">
        <% if @project.designer_id == current_user.designer.id && @project.client.id != current_user.client.id %>
  
        <div class="projectStatusInterfaceOwnerContainer">
            <p class="projectStatusInterfaceDesignerTile"><%= @project.designer.user.username %>'s' Designer HUD<p>
        </div>
        <div class="projectStatusInterfaceContainer">
            <p class="projectStatusInterfaceTitle">Project Status Interface:</p>
        </div>

        <section class="projectStatusesSection">
            <div class="projectStatusesContainer">
                <div class="projectStatusElementContainer">
                    <p class="statusTitle">Payment Status:</p>
                    <p class="statusOutput"><%= @project[:payment_status] %></p>
                </div>
                <div class="projectStatusElementContainer">
                    <p class="statusTitle">Designer Status:</p>
                    <p class="designerStatusOutput"><%= @project[:designer_status] %></p>
                </div>
                <div class="projectStatusElementContainer">
                    <p class="statusTitle">Client Status:</p>
                    <p class="statusOutput"><%= @project[:client_status] %></p>
                </div>
                <div class="projectStatusElementContainer">
                    <p class="statusTitle">Project Status:</p>
                    <p class="statusOutput"><%= @project[:project_status] %></p>
                </div>
            </div>
        </section>

        <section class="projectStatusesContainer">
                <%= form_with model: @project, local: true do | form | %>
                    <div class="userControlsFormInputFieldContainer">
                        <%= form.select :designer_status, [ "Planning", "Awaiting Draft Approval", "Design Complete" ], placeholder: "Select Status from Dropdown", class: "formInputField" %>
                        </div>
                        <%= form.submit "Update", class: "coverFormLoginButton" %>
                    </div>
                <% end %>      
        </section>

        <h1>Chat Interface:</h1>

        <% @project.chatbox.messages.each do | message | %>
            <h1><%= message[:from] %></h1>
            <h1><%= message[:message_content] %> <%= message[:datetime] %></h1>
        <% end %>

        <h1>Designer Messaging Interface</h1>

        <%= form_with url: message_create_designer_path, local: true do | form | %>
            <%= form.label "Message:" %>
            <%= form.text_field :message_content %>
            <%= form.submit "Send" %>
        <% end %>
        
    </section>

    <section class="clientInterfaceSection">
        <% elsif @project.client_id == current_user.client.id %>
            
            <div class="projectStatusInterfaceOwnerContainer">
                <p class="projectStatusInterfaceDesignerTile"><%= @project.client.user.username %>'s' Client HUD<p>
            </div>
            <div class="projectStatusInterfaceContainer">
                <p class="projectStatusInterfaceTitle">Project Status Interface:</p>
            </div>
            
            <section class="projectStatusesSection">
                <div class="projectStatusesContainer">
                    <div class="projectStatusElementContainer">
                        <p class="statusTitle">Payment Status:</p>
                        <p class="statusOutput"><%= @project[:payment_status] %></p>
                    </div>
                    <div class="projectStatusElementContainer">
                        <p class="statusTitle">Designer Status:</p>
                        <p class="designerStatusOutput"><%= @project[:designer_status] %></p>
                    </div>
                    <div class="projectStatusElementContainer">
                        <p class="statusTitle">Client Status:</p>
                        <p class="statusOutput"><%= @project[:client_status] %></p>
                    </div>
                    <div class="projectStatusElementContainer">
                        <p class="statusTitle">Project Status:</p>
                        <p class="statusOutput"><%= @project[:project_status] %></p>
                    </div>
                </div>
            </section>

            <h1>Client Controls:</h1>
            <section class="projectStatusesContainer">
            <%= form_with model: @project, local: true do | form | %>
                <div class="userControlsFormInputFieldContainer">
                    <%= form.select :payment_status, [ "Pending Payment", "Payment Complete" ] %>
                    <%= form.submit "Update", class: "coverFormLoginButton" %>
                </div>
            <% end %>  
            <%= form_with model: @project, local: true do | form | %>
                <div class="userControlsFormInputFieldContainer">
                    <%= form.select :client_status, [ "Reviewing Draft", "Reviewing Final Design", "Design Approved" ] %>
                    <%= form.submit "Update", class: "coverFormLoginButton" %>
                </div>
            <% end %>
            <%= form_with model: @project, local: true do | form | %>
                <div class="userControlsFormInputFieldContainer">
                    <%= form.select :project_status, [ "Draft", "With Designer", "Pending Approval", "Project Complete" ] %>
                    <%= form.submit "Update", class: "coverFormLoginButton" %>
                </div>
            <% end %>
            </section>

            <h1>Chat Interface:</h1>
            
            <% @project.chatbox.messages.each do | message | %>
                <h1><%= message[:from] %></h1>
                <h1><%= message[:message_content] %> <%= message[:datetime] %></h1>
            <% end %>

            <h1>Client Chat Input:</h1>
            <%= form_with url: message_create_client_path, local: true do | form | %>
                <%= form.label "Message:" %>
                <%= form.text_field :message_content %>
                <%= form.submit "Send" %>
            <% end %>
        <% elsif @project.designer_id == @project.client_id %>
            <p style="display: none"></p>
        <% elsif @project.designer_id.nil? %>
            <p style="display: none"></p>
        <% elsif @project.client_id.nil? %>
            <p style="display: none"></p>
        <% end %>
    </section>
</section>

    <%# Remove Designer Button %>

    <% if @project.designer_id == current_user.designer.id || @project.client.id == current_user.client.id %>
        <% if @project.designer_id == current_user.designer.id %>
            <%= link_to 'Quit Project', remove_designer_path, method: 'put' %>
        <% else %>
            <% if @project.designer_id.nil? %>
                <p style="display: none"></p>
            <% else %>
                <%= link_to 'Drop Designer', remove_designer_path, method: 'put' %>
            <% end %>
        <% end %>
    <% else %>
        <p style="display: none"></p>
    <% end %>









