<% if current_user.client.id == @project.client_id %>

    <h1><%= @project[:title] %></h1>
    <p>Project ID: <%= @project.id %></p>

    <p>Project Created By: <%= @project.client.user[:username] %> <br></p>
    <p><%= @project.client.user[:username] %> ID: <%= @project.client_id %> </p>

    <p>Project Description:</p>
    <p><%= @project[:description] %></p>

    <p>Payment Status:</p>
    <p><%= @project[:payment_status] %></p>

    <p>Your Client ID: <%= current_user.client.id %></p>
    <p>Your Account ID: <%= current_user.id %></p>
    <p>Your Username: <%= current_user[:username] %></p>

    <% if @project.designer_id.nil? %> 
        <p> No Designer Associated With Job </p>
    <% elsif @project.designer_id == current_user.designer.id %>
        <p> Designer Details, ID: <%= @project.designer_id %></p>
    <% else %>
        
    <% end %>

<% else %>

    <p>Not Your Project to View</p>

<% end %>

<% if @project.designer_id.nil? %>
    <%= link_to 'Accept Job', designers_path, method: 'post' %>
<% else %>
    <p> Blank </p>
<% end %>

<%= form_with model: @project, local: true do | form | %>
    <%= form.submit "Confirm" %>
<% end %>






