<!DOCTYPE html>
<html>
  <head>
    <title>Designated Designer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <%# Font Awesome %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <%# Google Fonts%>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="noticeAndAlertContainer">
      <p class="notice"><%= notice %></p>
  </div>
  <div class="noticeAndAlertContainer">
      <p class="alert"><%= alert %></p>
  </div>
    <%= yield %>
  </body>
</html>
